#subprojects
/subprojects/seldon/
# If we need something, we'll add it with -f
/subprojects/*
/wheelhouse/

#vscode
.vscode/

# docs
*_build/
doc/apidocs/

#pycache
*__pycache__/
*_cache/

#probability_distribution
output_probability_distributions/

#mesonpython
.mesonpy*
notes.txt
TODO.txt
tests/__pycache__/
tests/outputs/
.pytest*
output/
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# dist folder
dist/

token
